###Env
#perl = /XXX/perl 
#python = /XXX/python 
#java = /XXX/java


###01.porechop
Lreads_adapter_method = porechop
porechop = /ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/Anaconda3-202002/bin/porechop
#porechop_Parameters=

###02.NanoFilt + NanoStat
Lreads_filt_method = NanoFilt
nanofilt=/ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/Anaconda3-202002/bin/NanoFilt
nanofilt_Parameters = -q 10 -l 2000
nanostat=/ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/Anaconda3-202002/bin/NanoStat
#nanostat_Parameters = 

###01_2.short.clean.reads:fastp+soapnuke
Sreads_filt_method = fastp+soapnuke
fastp=/ldfssz1/ST_INFECTION/F16ZQSB1SY3030_Salmonella/USER/lindechun/software/fastp/fastp
fastp_Parameters = -5 -3 -q 20 -c -l 30
soapnuke=/ldfssz1/ST_INFECTION/F16ZQSB1SY3030_Salmonella/USER/lindechun/bin/SOAPnuke filter
soapnuke_Parameters = -Q 2 -d

###03.flye
Lreads_assembly_method = flye
flye=/ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/Anaconda3-202002/bin/flye
flye_Parameters = --plasmids --asm-coverage 50 --debug -g 5m --threads 16 --nano-raw

###04.racon
Lreads_1st_polish_method = racon
bwa=/ldfssz1/ST_INFECTION/F16ZQSB1SY3030_Salmonella/USER/lindechun/software/anaconda2/envs/py3/bin/bwa
racon=/ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/Anaconda3-202002/bin/racon
racon_Parameters =  -m 8 -x -6 -g -8 -w 500 -t 8

###05.medaka
Lreads_2nd_polish_method = medaka
medaka=/ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/Anaconda3-202002/envs/medaka/bin/medaka_consensus
medaka_Parameters = -t 8 -m r941_prom_fast_g303

###06.pilon
Sreads_polish_method = pilon
pilon=/ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/pilon-1.23.jar
pilon_Parameters = --fix all --changes --threads 8

###07.circlator
Lreads_circlator_method = circlator
circlator=/ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/Anaconda3-202002/bin/circlator
circlator_Parameters = all --merge_min_id 85 --merge_breaklen 1000 

###03_2.unicycler
Sreads_first_assembly_method = unicycler
unicycler=/ldfssz1/ST_INFECTION/P18Z10200N0164_Resistance_PN/User/zhaohailong/software/Anaconda3-202002/bin/unicycler
unicycler_Parameters = --mode normal --no_correct


